
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: black;
    color:whitesmoke;
    scroll-behavior: smooth;
    
  }

  header {

    text-align: center;
    
    }


    img {
        max-width: 100%;
        max-height: 200px;
    }


 .row {
    display: flex;
    
  }
  
  .column {
    flex: 50%;
    margin: 3%;
    padding: 5%;
    background-image: url(/css/paper.jpg);
     color: black;
     font-size: small;

   
  }

  .column-inside {
    flex: 50%;
    margin: 3%;
    padding: 5%;
     color: black;
     font-size: small;

   
  }

  .row1{
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(/css/paper.jpg);
    display: flex;
    
    align-items: center;
  
  }

  .column1
  {
    padding-left: 5%;

    flex: 10%;
    
    color:black;
    text-align: center;
    
  }
  .column2
  {

    flex: 30%;
    
    color:black;
    text-align: center;
}
    
.column3
  {

    flex: 60%;
    
    color:black;
    text-align: center;
    padding-right: 5%;
    
  }
  h2{
    text-align: center;
  }

  .img-tabla
  {
    
        height: auto;
        border-radius: 15px;
        
        
  }

  .titulo-tabla
  {
text-align: center;
color: whitesmoke;
size: 18px;
  }

  .temporadas-lista
  {
    margin-left: 2%;
    
    flex: 30%;
    background-image: url(/css/paper.jpg);
    align-items: center;
    color: black;
    
  }

  .temp-meme
  {
    display: flex;
  }

  .meme{
    flex: 50%;
   
    margin: 5%;
    background-image: url(/css/paper.jpg);
    align-items: center;
    text-align: center;
    color: black;
   
  }

  






